<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>About Me</title>
	<link rel="stylesheet" href="/static/styles.css">
</head>
<body>
	<header>
		<h1>About Me</h1>
		<nav>
			<ul>
				<li><a href="about">About Me</a></li>
				<li><a href="resume">Resume</a></li>
				<li><a href="projects">Projects</a></li>
				<li><a href="contact">Contact</a></li>
			</ul>
		</nav>
	</header>
	<main>
		<section>
			<h2>Biography</h2>
			<h3>Background</h3>
			<p>- Manager at Culver's in Middleton, WI (2019-2025)</p>
			<p>- Information Technology Intern at Essential Industries in Merton, WI (Summer 2024)</p>
			<p>- Technology Assurance Audit Intern at KPMG in Charlotte, NC (Summer 2025)</p>
			<p>- Graduated from Indiana University's Kelley School of Business with a degree in Information Systems & Business Analytics, minor in Sport Marketing & Management (May 2025)</p>
			<p>- Accepted offer to return to KPMG as a full-time Technology Assurance Audit Associate in Charlotte, NC beginning Summer 2026</p>
			<h3>Interests</h3>
			<p>- Technology, volleyball, travel, basketball</p>
			<h3>Goals</h3>
			<h4>Short term:</h4>
            <p>- Pass MSIS this semester</p>
			<p>- Meet people within my MSIS class and create connections that will last beyond the semester</p>
			<h4>Long term:</h4>
			<p>- Work in technology assurance audit and continue to grow my skills</p>
			<p>- Continue my personal and professional development</p>
		</section>
		<section>
			<h2>My Photo</h2>
			<img src="/static/images/Headshot05232025.jpeg" alt="Nic's Professional Headshot" style="max-width:200px; height:auto;">
		</section>
	</main>
</body>
</html>