<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Contact</title>
	<link rel="stylesheet" href="/static/styles.css">
</head>
<body>
	<header>
		<h1>Contact</h1>
		<nav>
			<ul>
				   <li><a href="about">About Me</a></li>
				   <li><a href="resume">Resume</a></li>
				   <li><a href="projects">Projects</a></li>
				   <li><a href="contact">Contact</a></li>
			</ul>
		</nav>
	</header>
	<main>
		<section>
			<h2>Contact Information</h2>
			<ul>
				<li>Email: <a href="mailto:npbraico@iu.edu">npbraico@iu.edu</a></li>
				<li>LinkedIn: <a href="https://www.linkedin.com/in/nicbraico" target="_blank" rel="noopener">Nic Braico</a></li>
				<li>GitHub: <a href="https://github.com/npbraico" target="_blank" rel="noopener">npbraico</a></li>
			</ul>
		</section>
	</main>
</body>
</html>