<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>About Me - Nic Braico</title>
	<link rel="stylesheet" href="/static/styles.css">
</head>
<body>
	<header>
		<h1>About Me</h1>
		<nav>
			<ul>
				   <li><a href="about">About Me</a></li>
				   <li><a href="resume">Resume</a></li>
				   <li><a href="projects">Projects</a></li>
				   <li><a href="contact">Contact</a></li>
			</ul>
		</nav>
	</header>
	<main>
		<section>
			<h2>Introduction</h2>
			<p>As a graduate student in the MSIS program at Indiana University’s Kelley School of Business, I’m eager to improve my skills in data analysis, business strategy, and technology-driven problem solving. 
                Throughout my Kelley academic experience and recent internships, I've developed a strong foundation in working with data to develop business strategies and I'm eager to learn and contribute to a top-tier team.
Outside of the classroom, I serve as a graduate assistant for the MSIS program and play for IU’s Men’s Club Volleyball team. These experiences have improved my collaboration, leadership, and time management skills.
I’m excited to bring my analytical mindset, strong work ethic, and fresh perspective to KPMG's Technology Assurance Audit practice starting Summer/Fall 2026.</p>
		</section>
	</main>
</body>
</html>