<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Resume</title>
	<link rel="stylesheet" href="/static/styles.css">
</head>
<body>
	<header>
		<h1>Resume</h1>
		<nav>
			<ul>
				   <li><a href="about">About Me</a></li>
				   <li><a href="resume">Resume</a></li>
				   <li><a href="projects">Projects</a></li>
				   <li><a href="contact">Contact</a></li>
			</ul>
		</nav>
	</header>
	<main>
		<section>
			<h2>Education</h2>
			<ul>
				<li>Indiana University, Kelley School of Business, M.S. in Information Systems (Expected Graduation May 2026)</li>
				<li>Indiana University, Kelley School of Business, B.S. in Information Systems & Business Analytics, Minor in Sport Marketing & Management (May 2025)</li>
			</ul>
		</section>
		<section>
			<h2>Experience</h2>
			<ul>
				<li>Incoming Technology Assurance Audit Associate @ KPMG Charlotte, NC (Starting Summer 2026)</li>
				<li>Technology Assurance Audit Intern @ KPMG Charlotte, NC (Summer 2025)</li>
				<li>Manager at Culver's Middleton, WI (2019-2025)</li>
				<li>Information Technology Intern @ Essential Industries Merton, WI (Summer 2024)</li>
			</ul>
		</section>
		<section>
			<h2>Skills</h2>
			<ul>
				<li>Communication</li>
				<li>Problem Solving</li>
				<li>Leadership</li>
				<li>Time Management</li>
				<li>Analytical Skills</li>
			</ul>
		</section>
		<section>
			<h2>Achievements</h2>
			<ul>
				<li>Founders Scholar at Indiana University, May 2022</li>
				<li>Dean's Scholarship Recipient at Indiana University, 2021-2025</li>
				<li>Middleton Culver's Team Member of the Year, 2020</li>
			</ul>
		</section>
		<section>
			<h2>Resume PDF</h2>
			<img src="/static/images/resume.jpg" alt="Nic's Resume" style="max-width:100%; height:auto; min-width:400px; min-height:500px; display:block; margin:auto; box-shadow:0 4px 24px rgba(21,101,192,0.10);">
	</main>
</body>
</html>